
/* =====================  rock, paper, scissor webpage  ======================= */
@import url("https://use.typekit.net/ghe3mrf.css");

html {
  background-color: black;
}
 
body {
  margin: 0;  
  background-image: url("../assets/pics/curtain-large.jpg");
  background-size: cover;
  background-position: center center;
  height: 110vh;
  position: absolute;
  width: 100%;
}

p {
  margin: 0;
}

.container {
  height: 77vh;
}

header h1 {
	margin: 60px 0 50px 0;
	text-align: center;
  font-size: 4rem;
	text-shadow: 1px 1px 0 #fff,
    -1px 1px 0 #fff,
    1px -1px 0 #fff,
    -1px -1px 0 #fff,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

.bkimage {
  background-image: url(../assets/pics/faviconhands.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 150px;
  margin-bottom: 20px;
}


/* -- Game Box -- */

#jsbox {
  box-sizing: border-box;
  height: 340px;
  width: 60%;
  background-color: #938f8f;
  border: 30px ridge #6c6b6b;
  display: flex;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  max-width: 372px;
  min-width: 286px;
  align-items: center;
}

form {
  width: 90%;
  max-width: 312px;
  text-align: center;
}

label {
  margin-right: 8px;
  font-size: 1.1rem;
}

#userinput {
  background-color: #d9d5d5;
  border: 2px inset #6e6c6c;
  padding: 2px 10px;
  margin: 5px 0 20px 0;
  width: 140px;
  font-family: "cooper-black-std", script, sans-serif;
}

.radiocon {
  display: none;
  margin-bottom: 10px;
  padding-right: 0;
  justify-content: center;
}

.userinputradio {
  width: 80px;
  margin-top: 5px;
}

.userinputradio2 {
  width: 80px;
  margin-top: 5px;
}

.userinputradio3 {
  width: 80px;
  margin-top: 5px;
}

#dW {
  width: 140px;
  background-color: #d9d5d5;
  height: 60px;
  border: 2px inset #6e6c6c;   
  padding: 10px;
  margin: 0 auto;
  font-family: "Cooper-black-std", script, sans-serif;
}

#playGame {
  margin-top: 6px;
  width: 90px;
  font-weight: bold;
  height: 30px;
  box-shadow: 2px 2px gray;
  font-family: "Cooper black", script, sans-serif;
  background-color: #bcbaba;
}

#playGame:active {
  border: 1px solid #6c6b6b;
  background-color: #938f8f;
  box-shadow: none;
}

.results  {
  font-size: 1.1rem;
  margin-top: 20px;
}

/* --  @Media  -- */

@media only screen and (max-width: 597px) {
  body {
    background-image: url("../assets/pics/curtain-small.jpg");
  }

  header h1 {
    margin-bottom: 50px;
  }

  .bkimage {
    height: 130px;
  }

  .jsbox {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  header h1 {
    font-size: 3.4rem;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 400px){
  header h1 {
    font-size: 2.5rem;
  }

  .bkimage {
    height: 100px;
    margin-bottom: 50px;
  }

  #dWInner {
    width: 90px;
  }

  .jsbox {
    border-width: 20px;
  }

  #userInput {
    width: 90px;
  }
}



